@model Cloudzy.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutLI_LO.cshtml";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <h4>Quên mật khẩu</h4>
                        <h6 class="fw-light">Nhập email để lấy lại mật khẩu.</h6>

                        <form asp-action="ForgotPassword" method="post" class="pt-3">
                            <div class="form-group">
                                <label asp-for="Email">Email:</label>
                                <input asp-for="Email" class="form-control form-control-lg" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="mt-3 d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg auth-form-btn">Gửi yêu cầu</button>
                            </div>
                            <div class="text-center mt-4 fw-light">
                                Đã nhớ mật khẩu? <a href="@Url.Action("Login", "User")" class="text-primary">Đăng nhập</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
