@{
    ViewData["Title"] = "Quản lý loại voucher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách loại voucher</h2>
<a class="btn btn-primary my-2" asp-action="Create">Thêm loại voucher</a>

<!-- Danh sách loại voucher -->
<div id="voucherTypeList">
    <p>Đang tải dữ liệu...</p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        load(1);

        var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';

        if (successMessage) {
            showAlert(successMessage, "success");
        }
        if (errorMessage) {
            showAlert(errorMessage, "danger");
        }
    });

    function load(page) {
        $.ajax({
            url: '/AdminVoucherType/Load?page=' + page,
            type: 'GET',
            success: function (data) {
                $('#voucherTypeList').html(data);
            },
            error: function () {
                $('#voucherTypeList').html('<p class="text-danger">Không thể tải dữ liệu.</p>');
            }
        });
    }
</script>
