@model Cloudzy.Models.ViewModels.AdminImportDetail.EditViewModel

@{
    ViewData["Title"] = "Sửa chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa chi tiết</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ImportDetailId" />
    <input type="hidden" asp-for="ImportId" />

    <div class="row">
        <div class="mb-3 col-lg-6">
            <label asp-for="ProductId" class="form-label">Tên sản phẩm</label>
            <select asp-for="ProductId" asp-items="Model.Product" class="form-control">
                <option value="">-- Chọn size --</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-lg-3">
            <label asp-for="Quantity" class="form-label">Số lượng</label>
            <input asp-for="Quantity" type="number" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="mb-3 col-lg-3">
            <label asp-for="Price" class="form-label">Giá</label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-warning mt-3">Cập nhật</button>
    <a asp-action="Index" asp-route-importId="@Model.ImportId" class="btn btn-secondary mt-3">Quay lại</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}