@model Cloudzy.Models.ViewModels.AdminCategory.EditViewModel

@{
    ViewData["Title"] = "Sửa danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa danh mục</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryId" />

    <div class="row">
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">Tên danh mục</label>
            <input asp-for="CategoryName" class="form-control" maxlength="100" required />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <input asp-for="Description" type="text" class="form-control" required />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-warning mt-3">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}