@{
    ViewData["Title"] = "Quản lý danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách danh mục</h2>
<a class="btn btn-primary my-2" asp-action="Create">Thêm danh mục</a>

<!-- Danh sách danh mục -->
<div id="categoryList">
    <p>Đang tải dữ liệu...</p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        load(1);

        var message = '@Html.Raw(TempData["SuccessMessage"])';
        if (message) {
            showAlert(message);
        }
    });

    function load(page) {
        $.ajax({
            url: '/AdminCategory/Load?page=' + page,
            type: 'GET',
            success: function (data) {
                $('#categoryList').html(data);
            },
            error: function () {
                $('#categoryList').html('<p class="text-danger">Không thể tải dữ liệu.</p>');
            }
        });
    }
</script>
