@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Trang quản lý tài khoản</h1>
    <p>Coming soon...</p>
</div>